@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <figure class="text-center">
        <h3 class="text-center">So I had a little time to relax</h3>
        <img class=" img-fluid" src="~/img/beforeHuricane.jpg" />
        <figcaption class="text-center">So I thought I would take a dip in the pool</figcaption>
    </figure>
</div>
