@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="row">


    <a class="col-md-3" id="pdf-link" href="~/pdfs/IoT_REMOTE MONITORING.pdf">IoT Monitoring Example</a>
    <a class="col-md-3" id="pdf-link" href="~/pdfs/IoT_REMOTE MONITORING.pdf">IoT Monitoring Example</a>
    <a class="col-md-3" id="pdf-link" href="~/pdfs/IoT_REMOTE MONITORING.pdf">IoT Monitoring Example</a>
    <a class="col-md-3" id="pdf-link" href="~/pdfs/IoT_REMOTE MONITORING.pdf">IoT Monitoring Example</a>



    <div class="col-md-3">
        <p>
            Hey there  how is it going?   Is this going to work or what?
            I am a little confused about hoa all this will align.
        </p>
    </div>
    <div class="col-md-3">
        <p>
            Hey there  how is it going?   Is this going to work or what?
            I am a little confused about hoa all this will align.
        </p>
    </div>
    <div class="col-md-3">
        <p>
            Hey there  how is it going?   Is this going to work or what?
            I am a little confused about hoa all this will align.
        </p>
    </div>
    <div class="col-md-3">
        <p>
            Hey there  how is it going?   Is this going to work or what?
            I am a little confused about hoa all this will align.
        </p>
    </div>


</div>


<script>

</script>
